<div class="background">
  <div class="login-container">
    <div class="form-container">
      <h1>Parlay Club 2022 Register</h1>
      <h5>Register with your email</h5>
      <login-form (formData)="register($event)"></login-form>
    </div>
    <div class="text-container">
      <h1>Let's Get Started</h1>
      <p>
        Already have an awesome account? Go ahead and click the button below to
        sign in!
      </p>
      <button mat-button routerLink="/">Sign in</button>
    </div>
  </div>
</div>
