.content {
    padding: 5px;
    display: grid;
    grid-template-columns: 60% 40%;

    .list-header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        color:white;
        font-size: 2em;
        height: 2em;
    }
}

@media (max-width: 768px) {
    .content {
        display: inherit;
    }
}