mat-grid-list {
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #1e1e1e;
}

.pick-count {
  background-color: #1e1e1e;
}

.red-pick-class {
  color: red;
}

.green-pick-class {
  color: green;
}

.list-container {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #1e1e1e;
  background-color: white;
}

.team-name {
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 100%;
}

.team-img {
  padding-left: 5px;
  padding-right: 5px;
  max-height: 2em;
  min-width: 2em;
}

h3 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 0px;
  margin-left: 10px;
  background-color: inherit;
}