<!-- <form [formGroup]="form">
  <mat-form-field>
    <mat-label>User</mat-label>
    <input required formControlName="name" class="form-control" placeholder="Ryan" type="text" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Game</mat-label>
    <input required formControlName="type" class="form-control" placeholder="A vs B" type="text" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Team</mat-label>
    <input required formControlName="type" class="form-control" placeholder="A" type="text" matInput />
  </mat-form-field>

  <button type="button" mat-raised-button (click)="submit()" color="primary" [disabled]="!form.valid">
    Submit
  </button>
</form> -->