<div *ngIf="!isMobile; else mobile" class="list-container">
  <div class="list-container" style="max-width: 600px">
    <mat-grid-list
      cols="13"
      rowHeight="3em"
      *ngFor="let game of games$ | async"
    >
      <mat-grid-tile colspan="4"
        ><mat-checkbox
          (change)="selectPick($event, game, game.away)"
          class="checkbox-style"
          [checked]="
            checked[game.gameID] && checked[game.gameID][game.away.teamID]
          "
          [disabled]="disabled[game.gameID]"
        >
          <div class="team-name">
            <img class="team-img" src="{{ game.away.iconURL }}" />
            {{ game.away.name }}
            <div *ngIf="game.away.teamID === game.fav.teamID; else elseBlock" style="padding-left: 4px">
              {{ game.spread }}
            </div>
            <ng-template #elseBlock>+{{ -game.spread }}</ng-template>
          </div>
        </mat-checkbox></mat-grid-tile
      >
      <!-- <mat-grid-tile colspan="1">@ </mat-grid-tile> -->
      <mat-grid-tile colspan="4"
        ><mat-checkbox
          (change)="selectPick($event, game, game.home)"
          class="checkbox-style"
          [checked]="
            checked[game.gameID] && checked[game.gameID][game.home.teamID]
          "
          [disabled]="disabled[game.gameID]"
        >
          <div class="team-name">
            <img class="team-img" src="{{ game.home.iconURL }}" />
            {{ game.home.name }}
            <div *ngIf="game.home.teamID === game.fav.teamID; else elseBlock" style="padding-left: 4px">
              {{ game.spread }}
            </div>
            <ng-template #elseBlock>+{{ -game.spread }}</ng-template>
          </div></mat-checkbox
        ></mat-grid-tile
      >
      <mat-grid-tile colspan="1">+{{ game.ou }}</mat-grid-tile>
      <mat-grid-tile colspan="2"
        ><mat-checkbox
          (change)="selectPick($event, game, 'UNDER')"
          class="checkbox-style"
          [checked]="checked[game.gameID] && checked[game.gameID][32]"
          [disabled]="disabled[game.gameID]"
        >
          Under
        </mat-checkbox></mat-grid-tile
      >

      <mat-grid-tile colspan="2"
        ><mat-checkbox
          (change)="selectPick($event, game, 'OVER')"
          class="checkbox-style"
          [checked]="checked[game.gameID] && checked[game.gameID][33]"
          [disabled]="disabled[game.gameID]"
        >
          Over
        </mat-checkbox></mat-grid-tile
      >
    </mat-grid-list>
  </div>
</div>

<!-- -------------------------------------------------------------- -->

<ng-template #mobile>
  <div class="list-container" style="max-width: 600px">
    <mat-grid-list
      cols="14"
      rowHeight="3em"
      *ngFor="let game of games$ | async"
    >
      <mat-grid-tile colspan="4"
        ><mat-checkbox
          (change)="selectPick($event, game, game.away)"
          class="checkbox-style"
          [checked]="
            checked[game.gameID] && checked[game.gameID][game.away.teamID]
          "
          [disabled]="disabled[game.gameID]"
        >
          <div class="team-name">
            <img class="team-img" src="{{ game.away.iconURL }}" />
            <div *ngIf="game.away.teamID === game.fav.teamID; else elseBlock" style="padding-left: 4px">
              {{ game.spread }}
            </div>
            <ng-template #elseBlock>+{{ -game.spread }}</ng-template>
          </div>
        </mat-checkbox></mat-grid-tile
      >
      <!-- <mat-grid-tile colspan="1">@ </mat-grid-tile> -->
      <mat-grid-tile colspan="4"
        ><mat-checkbox
          (change)="selectPick($event, game, game.home)"
          class="checkbox-style"
          [checked]="
            checked[game.gameID] && checked[game.gameID][game.home.teamID]
          "
          [disabled]="disabled[game.gameID]"
        >
          <div class="team-name">
            <img class="team-img" src="{{ game.home.iconURL }}" />
            <div *ngIf="game.home.teamID === game.fav.teamID; else elseBlock" style="padding-left: 4px">
              {{ game.spread }}
            </div>
            <ng-template #elseBlock>+{{ -game.spread }}</ng-template>
          </div></mat-checkbox
        ></mat-grid-tile
      >
      <mat-grid-tile colspan="2">+{{ game.ou }}</mat-grid-tile>
      <mat-grid-tile colspan="2"
        ><mat-checkbox
          (change)="selectPick($event, game, 'UNDER')"
          class="checkbox-style"
          [checked]="checked[game.gameID] && checked[game.gameID][32]"
          [disabled]="disabled[game.gameID]"
        >
        <img class="team-img" src="{{ underTeam.iconURL }}" />
        </mat-checkbox></mat-grid-tile
      >

      <mat-grid-tile colspan="2"
        ><mat-checkbox
          (change)="selectPick($event, game, 'OVER')"
          class="checkbox-style"
          [checked]="checked[game.gameID] && checked[game.gameID][33]"
          [disabled]="disabled[game.gameID]"
        >
        <img class="team-img" src="{{ overTeam.iconURL }}" />
        </mat-checkbox></mat-grid-tile
      >
    </mat-grid-list>
  </div>
</ng-template>

<!-- <button type="button" mat-raised-button (click)="clear()" color="primary">
  Clear
</button> -->
<button
  type="button"
  mat-raised-button
  (click)="submit()"
  color="primary"
  style="margin-left: 5px"
>
  Submit
</button>
<button
  type="button"
  mat-raised-button
  (click)="cancel()"
  color="primary"
  style="margin-left: 5px"
>
  Cancel
</button>
