<!-- <mat-toolbar><a (click)="logout()">Log out</a></mat-toolbar> -->
<!-- <div class="dashboard-header">
  <h1>Parlay Club 2022</h1>
</div> -->
<div class="dashboard-content">
  <div class="pick-flex-item">
    <div style="display: flex; margin-bottom: 5px">
      <h2 style="margin-bottom: 9px">MY PICKS</h2>
      <span class="flexExpand"></span>
      <button
        type="button"
        mat-raised-button
        color="primary"
        routerLink="/picker"
        style="-size: 20px"
      >
        Update Picks
      </button>
    </div>
    <app-picks-list [picks$]="myPicks$"></app-picks-list>

    <div *ngFor="let pickDict of otherPicks">
      <h2>{{ pickDict.user.name }}'S PICKS</h2>
      <app-picks-list [picks$]="pickDict.picks"></app-picks-list>
    </div>
  </div>
  <div class="game-flex-item">
    <div style="display: flex; margin-bottom: 5px">
      <h2 style="margin-bottom: 9px">CURRENT GAMES</h2>
      <span class="flexExpand"></span>
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="updateClick()"
        style="-size: 20px"
        *ngIf="userID === 4"
      >
        Update Games
      </button>
    </div>
    <app-games-list [games$]="allGames$" class="flex-item"></app-games-list>
  </div>
  <div class="score-flex-item">
    <div style="display: flex; margin-bottom: 5px">
      <h2>CLUB SCORE</h2>
    </div>
    <app-score-list [picks$]="allPicks$" [games$]="allGames$"></app-score-list>
  </div>
</div>
