<div class="list-container">
  <!-- <mat-list-item *ngFor="let game of games$">
    <h3 matLine>{{ message.from }}</h3>
    <p matLine>
      <span> {{ message.subject }} </span>
      <span class="demo-2"> -- {{ message.content }} </span>
    </p>
  </mat-list-item> -->

  <!-- <mat-card
      *ngFor="let pokemon of pokemon$ | async"
      (click)="selectPokemon(pokemon)"
    >
      <mat-card-header>
        <mat-card-title>{{ pokemon.name }}</mat-card-title>
        <mat-card-subtitle>{{ pokemon.type }} type</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="pokemon.imgUrl" alt="Photo of a Pokemon" />
      <mat-card-content>
        <p>
          {{ pokemon.description }}
        </p>
      </mat-card-content>
    </mat-card> -->
</div>
